header{
    background: rgba(255, 255, 255, 0.42);
    position: absolute;
    width: 100%;
    height: 120px;
    z-index: 200;
}
.headerWrap{
    width: 1150px;
    height: 120px;
    margin: 0 auto;
}
.navbar{
    margin-top: 70px;
}
.navbar li{
    margin-right: 34px;
}
.navbar li a{
    color: #444444;
    font-size: 18px;
}
.logo a img{
    margin-top: 34px;
}